/* FighterPage.css */

.fighter-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .fighter-details {
    text-align: center;
  }
  
  .fighter-image-zoom img {
    width: 0;
    height: 0;
    animation: zoom 1s ease forwards; /* Keep the final state */
  }
  .fighter-image-pulse img {
    width: 0;
    height: 0;
    animation: pulse 1s; /* Keep the final state */
  }
  .fighter-image img {
    width: 0;
    height: 0;
    /* animation: zoom 1s ease forwards; Keep the final state */
  }
  
  .fighter-name p {
    margin-top: 10px;
    font-size: 40px; 
    /* opacity: 0; /* Start with opacity 0 */
    /* transition: opacity 1s ease forwards; Keep the final state */ 
  }
  
  @keyframes zoom {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
  
  .click-info {
    text-align: center;
    margin-top: 20px; /* Adjust the top margin for spacing */
  }
  
  .click-count,
  .countdown {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .strengthen-button {
    font-size: 10px; 
  }
  
  .back-button {
    position: absolute; 
    top: 10%; 
    left: 10%; 
    scale: 0.8;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate {
    animation: pulse 2s; 
  }
