/* FighterPage.css */

.fighter-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .fighter-details {
    text-align: center;
  }
  
  .fighter-image img {
    width: 0;
    height: 0;
    animation: zoom 1s ease forwards; /* Keep the final state */
  }
  
  .fighter-name p {
    margin-top: 10px;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1s ease forwards; /* Keep the final state */
  }
  
  @keyframes zoom {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 1;
    }
  }
  
  .click-info {
    text-align: center;
    margin-top: 20px; /* Adjust the top margin for spacing */
  }
  
  .click-count,
  .countdown {
    font-size: 18px;
    margin-bottom: 10px;
  }
  

  .strengthen-button {
    background-color: maroon;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adjust the top margin for spacing */
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.3);
  }
  
  .strengthen-button:hover {
    background: linear-gradient(45deg, #007bff, #e14d33);
    box-shadow: 0 8px 16px rgba(0, 123, 255, 0.3);
    transform: translateY(-2px);
    color: white;
  }