@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital,wght@1,700&family=Righteous&display=swap');
.image-container {
    animation: move-up_3 2s;
    animation-delay: 1s;
    opacity: 0; 
    animation-fill-mode: forwards;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    height: 100vh; 
  }
  
  .image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid maroon; 
    top:50%; 
  }

  .background {
    height: 100vh; 
}

.image-container-item {
    text-align: center; /* Center text */
  }
  .image-container p {
    margin-top: 10px; /* Adjust as needed */
    font-family: 'Dela Gothic One', cursive;
    font-size: 3vh; 
  }

  
.fire_name {
    /* animation: flicker 2s infinite, move-up 2s; */
    color: #ffffff; 
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
    text-shadow:
    0px -1px 3px #fff, /* Innermost layer - intense heat (white) */
    0px -2px 6px #FF3, /* Second layer - core of flame (yellow) */
    0px -6px 12px #F90, /* Middle layer - body of flame (orange) */
    0px -10px 20px #C33; /* Outermost layer - edges of flame (red) */
  
   }
   .fire_title {
      animation: flicker 2s infinite, move-up_2 2s;
      color: #ffffff; 
      font-family: 'Dela Gothic One', cursive;
      top: 15%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 90vw; 
      text-align:center; 
      font-size: 90px; 
      text-shadow:
      0px -1px 3px #fff, /* Innermost layer - intense heat (white) */
      0px -2px 6px #FF3, /* Second layer - core of flame (yellow) */
      0px -6px 12px #F90, /* Middle layer - body of flame (orange) */
      0px -10px 20px #C33; /* Outermost layer - edges of flame (red) */
      position: absolute;
    
     }
   /* Define the animation named "flicker" */
@keyframes flicker {
    0%, 
    100% { 
        text-shadow: 
            0 -1px 3px #fff, /* Innermost layer - intense heat (white) */
            0 -2px 6px #FF3, /* Second layer - core of flame (yellow) */
            0 -6px 12px #F90, /* Middle layer - body of flame (orange) */
            0 -10px 20px #C33; /* Outermost layer - edges of flame (red) */
    }
    50% { 
        text-shadow: 
            0 -2px 6px #fff, /* Innermost layer - intense heat (white) */
            0 -4px 12px #FF3, /* Second layer - core of flame (yellow) */
            0 -8px 16px #F90, /* Middle layer - body of flame (orange) */
            0 -12px 24px #C33; /* Outermost layer - edges of flame (red) */
    }
}

@keyframes move-up_2 {
    0% {top: 50%; opacity: 0}
    100% {top: 15%; opacity: 1}
  }

  @keyframes move-up_3 {
    0% {top: 75%; opacity: 0}
    100% {top: 50%; opacity: 1}
  }
  